footer {
  width: 100%;
  background-color: #080808;
  height: 85px;
  text-align: center;

  p {
    color: #f6fafa;
    line-height: 85px;
    font-size: 2rem;
    font-family: 'Pacifico', cursive;
  }
}
