#container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}



.json-div {
    
    #jsonPretty {
     
        border-radius: 15px;
        border: solid 5px black;
        
    }
    #json-pretty{
color: red;
    }
}