
.json-div {
    #json-pretty {
     
        border-radius: 15px;
        width: 57%;
        margin: 0 auto;
        box-shadow: 5px 5px gray;
        padding: 30px;
        margin-bottom: 20px;
    }
   
}